
.logo,
.main__title {
  font-family: 'PT Serif', serif;
}

.menu__item,
.main__description,
.main__button,
.hamburger-menu__list_item {
  font-family: 'Roboto', sans-serif;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1528px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 133px;
  padding: 40px 0;
}

.logo {
  position: relative;
  width: 190px;
  height: 35px;
  padding-left: 48px;
  font-size: 24px;
  line-height: 31px;
}

.logo__circle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  transform: translateY(-50%);
}

.logo__circle_color_blue {
  top: 56%;
  left: 8px;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  width: 100%;
  opacity: 1;
}

#checkbox,
.checkbox__button,
.hamburger-menu {
  display: none;
}

.main {
  padding: 0 66% 310px 0;
  background: top right/770px 657px no-repeat url(images/mainImg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  padding-top: 70px;
  font-size: 66px;
  line-height: 85px;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__description {
  margin: 0 0 39px 0;
  padding-right: 95px;
  font-size: 22px;
  line-height: 25px;
}

.main__button {
  display: inline-block;
  padding: 20px 28px;
  color: #fff;
  background: #0056EC;
  background-size: 224px 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.main__button:hover {
  background-color: red;
  animation: jumpUp 0.5s infinite linear;
}

@keyframes jumpUp {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1366px) {

  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 3%;
  }

  .menu {
    padding-right: 5px;
  }

  .menu__item {
    font-size: 14px;
    line-height: 16px;
  }

  .main {
    padding-right: 47%;
    background-size: 514px 439px;
    background-position-y: 17%;
  }

  .main__title {
    font-size: 50px;
    line-height: 65px;
  }

  .main__description {
    margin-bottom: 41px;
    padding-right: 98px;
    font-size: 18px;
    line-height: 21px;
  }

  .main__button {
    padding: 14px 21px;
    background-size: 209px 44px;
    font-size: 14px;
    line-height: 16px;
  }

}

@media (max-width: 1024px) {

  .wrapper {
    width: 91%;
  }

  .logo {
    padding-left: 44px;
  }

  .logo__circle_color_dark-blue {
    top: 44%;
  }

  .menu {
    padding-right: 0;
  }
}

@media (max-width: 834px) {

  .wrapper {
    width: 90%;
  }

  .menu {
    display: none;
  }

  .header {
    margin-bottom: 5%;
    padding: 24px 0;
  }

  .logo {
    color: #fff;
  }

  .checkbox__button {
    position: absolute;
    top: 32px;
    right: 24px;
    display: flex;
    align-items: center;
    width: 25px;
    height: 17px;
  }

  .checkbox__button > span,
  .checkbox__button > span::before,
  .checkbox__button > span::after {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #0056EC;
  }

  .checkbox__button > span::before {
    content: '';
    top: -8px;
  }
  .checkbox__button > span::after {
    content: '';
    top: 8px;
  }

  #checkbox:checked ~ .hamburger-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background: #fff;
  }

  #checkbox:checked ~ .checkbox__button > span {
    z-index: 2;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .checkbox__button > span::before {
    z-index: 2;
    top: 0;
    transform: rotate(0);
  }

  #checkbox:checked ~ .checkbox__button > span::after {
    z-index: 2;
    top: 0;
    transform: rotate(90deg);
  }

  .hamburger-menu__list{
    list-style-type: none;
  }

  .hamburger-menu__list > li {
    padding-bottom: 24px;
  }

  .hamburger-menu__list_item {
    color: #000;
    font-size: 30px;
    line-height: 35px;
    text-decoration: none;
  }

  .main {
    padding: 74% 10% 0 10%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    margin-bottom: 44px;
    padding-top: 0;
  }

  .main__description {
    margin-bottom: 41px;
    padding: 0 10%;
  }

}

@media (max-width: 768px) {

  .main {
    padding-top: 68%;
  }
}

@media (max-width: 375px) {

  .wrapper {
    width: 90%;
  }

  .header {
    margin-bottom: 11px;
    padding: 20px 0;
  }

  .logo__circle {
    top: 50%;
    left: 2%;
  }

  .logo__circle_color_blue {
    top: 74%;
    left: 5%;
  }

  .main {
    padding: 69% 10% 0 10%;
    background-size: 280px 239px;
  }

  .main__title {
    margin-bottom: 32px;
    padding-top: 30px;
    font-size: 30px;
    line-height: 39px;
  }

  .main__description {
    margin-bottom: 25px;
    padding: 0 6%;
    font-size: 16px;
    line-height: 19px;
  }
}
